body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.app {
    text-align: center;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100vh;
}
